body {
  font-family: "Roboto", sans-serif;
  background-color: #f7f9fc;
}

.iupload h3 {
  color: #2f3e76;
  font-size: 32px;
  font-weight: 700;
}

.image-part {
  border: 1px solid #d2dce8;
  position: relative;
  background: #ffffff;
}

.image-part img,
#video {
  width: 100%;
  height: 100%;
}

.btn-part {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 4px;
}

.btn-primary {
  background-color: #2f3e76;
  border-color: #2f3e76;
}

.btn-success {
  background-color: #3dbb73;
  border-color: #3dbb73;
}

.right-part {
  padding: 20px;
  border: 1px solid #d2dce8;
  background: #ffffff;
}

#loading {
  background-color: rgba(47, 62, 118, 0.5);
}

.loader {
  border-color: #f3f3f3;
  border-top-color: #2f3e76;
}

.logo {
  width: 60px;
  height: auto;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
